
<nav class="navbar navbar-expand-lg nav-size purple-gradient">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">
      <img src="../assets/logo.png" alt="HOME" width="50" height="40" >HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
            <a  class="nav-link" aria-current="page" routerLink="/Search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a>
            <a  class="nav-link" routerLink="/Add-Address" routerLinkActive="active" ariaCurrentWhenActive="page">Add Address</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
