<div class="bgimage">
<div class=" container-fluid p-5">
    <div *ngIf="searchFlag">
        <h1 class="address-bar pt-3 pb-3">ADDRESS SEARCH ENGINE</h1>
    </div>
    
    <div class="rounded box">
        <form class="d-flex  m-3" role="search">
            <input class="form-control me-2 colorbox" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-primary" type="submit"  (click)="search()">Search</button>
        </form>
    </div>
    <div class="Invisiblebox" *ngIf="searchFlag">

    </div>
    <div class="Cardbg">
        <h2 class="text-white" *ngIf="!searchFlag">Result We Found</h2>
        <div class="row row-cols-2 g-3">
        
        <div *ngFor="let addr of similarSearchAddresses">
     
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row  g-0">
              <div class="col-md-4">
                <img src="../../../assets/address.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><b>{{addr.addressTitle}}</b></h4>
                  <p class="card-text">{{addr.addressDesc}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
   
    </div>
      </div>
</div>
</div>