<div class="bgimage ">
  <div class="container text-center p-2 box-size">
    <div class="row justify-content-md-center">
      <div class="col p-0 rounded">
        <mat-expansion-panel class="matter" >

          <mat-expansion-panel-header class="Notetag" (click)="filecloser()">

            <mat-panel-title class="center-text">

              ADD NEW ADDRESS
              <mat-icon>map</mat-icon>

            </mat-panel-title>

          </mat-expansion-panel-header>

          <!--  Hidden form popup-->

          <form class="row g-3 m-2" [formGroup]="addressForm" (ngSubmit)="AddDetails(addressForm)" >
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address 1</label>
              <input type="text" class="form-control" id="inputAddress1" placeholder="1234 Main St" [(ngModel)]="address.address1"  formControlName="address1">
              <mat-error *ngIf="addressForm.get('address1')?.touched && addressForm.get('address1')?.hasError('required')">*Address required</mat-error>
              <mat-error *ngIf="addressForm.get('address1')?.touched && addressForm.get('address1')?.hasError('minlength')">*Enter atleat 3 letter address</mat-error>
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" [(ngModel)]="address.address2" name="address2">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity"  placeholder="City" [(ngModel)]="address.city"  formControlName="city">
              <mat-error *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.hasError('required')">*City name required</mat-error>
              <mat-error *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.hasError('minlength')">*Atleast 3 letter required</mat-error>
            </div>
            
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <input type="text" class="form-control" id="inputState" placeholder="State" [(ngModel)]="address.state"  formControlName="state">
              <mat-error *ngIf="addressForm.get('state')?.touched && addressForm.get('state')?.hasError('required')">*State required</mat-error>
              <mat-error *ngIf="addressForm.get('state')?.touched && addressForm.get('state')?.hasError('minlength')">*Enter atleat 3 letter state</mat-error>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="number" class="form-control" id="inputZip" placeholder="Pincode" [(ngModel)]="address.zip"  formControlName="zip">
              <mat-error *ngIf="addressForm.get('zip')?.touched && addressForm.get('zip')?.hasError('required')">*Postal code required</mat-error>
              <mat-error *ngIf="addressForm.get('zip')?.touched && addressForm.get('zip')?.hasError('pattern')">*Enter valid code</mat-error>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-color" [disabled]="addressForm.invalid" >Save</button>
            </div>
          </form>
        </mat-expansion-panel>
      </div>
    </div>
    <div *ngIf="formFlag"><h2 class="text-center text-white mt-3">- - - - - - - - - - - - - - - - - - - - - - - -  OR  - - - - - - - - - - - - - - - - - - - - - - - -</h2> 
   
    <div class="alert box " role="alert">

      <div >
        <div class="mb-2 d-flex justify-content-center">
            <img src="../../../assets/file.png"
            alt="example placeholder" style="width: 100px;" />
           
        </div>
        <h3>{{file.name || "No File uploaded yet"}}</h3>
        <div class="d-flex justify-content-center">
            <div class="btn btn-danger btn-rounded">
    
                <label class="form-label text-white m-0" for="customFile1" title="Choose">Choose file</label>
                <input type="file" class="form-control d-none" accept=".xlsx" placeholder="Choose your file" id="customFile1" (change)="readFile($event)" />
            </div>
            <a class="btn text-white btn-lg btn-floating" style="background-color: #2bac34;" (click)="uploadFile()" role="button" title="upload">
              <i class="fa-solid fa-upload"></i>
            </a>
        </div>
    </div>
    </div>
  </div>
</div>
</div>